.app-container {
  .add-new {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .group-btns {
      display: flex;
      gap: 4px;
      align-items: center;
    }
  }
}

.header-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;

  i {
    cursor: pointer;
    padding: 0 2px;
  }
}
